{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Afterefx</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/form.css'%}"" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />

    

</head>
<body>
   
    <!-- End Header -->
    <div class="container">

        {% block content %}{% endblock %}
    </div>
    
    
    <script src="{% static 'js/app.js'%}"></script>
    {% block js_scripts %}
{% endblock %}
    
</body>
</html>
